body{
    background-color: #E2BABA;
    text-align: center;
}
.mombasa{
    display: flex;
    justify-content: space-around;
}
.Nairobi{
    display: flex;
    justify-content: space-around;
}
.Masaai{
    display: flex;
    justify-content: space-around;
}
.mombasa :hover {
    opacity: 0.9;
    background-color: aqua;
}
.Nairobi :hover{
    opacity: 0.9;
    background-color: aqua;
}
.mombasa :hover{
    opacity: 0.9;
    background-color: aqua;
}