
body{
    background-color: #E2BABA;
    text-align: center;
}
.mombasa{
    display: flex;
    justify-content: space-around;
}
.Nairobi{
    display: flex;
    justify-content: space-around;
}
.masaai{
    display: flex;
    justify-content: space-around;
}
.mombasa :hover {
    opacity: 0.9;
    background-color: aqua;
}
.Nairobi :hover{
    opacity: 0.9;
    background-color: aqua;
}
.mombasa :hover{
    opacity: 0.9;
    background-color: aqua;
}

.destinations {
    display: flex;
    justify-content: space-around;
    height: 450px;
    
}
.sef{
    border-color: rgb(43, 3, 43);
    background-origin: padding-box;
    color: white;
}
body {
    background-color: #E2BABA;
}
.parks {
    display: flex;
    justify-content: space-around;
    height: 450px;
}
.reserves {
    display: flex;
    justify-content: space-around;
    height: 450px;
}
a:hover{
    background-color: blue;
    opacity: 0.6;
}
p {
    font-style: italic;
    opacity: 0.8;
}
* {
    box-sizing: border-box;
  }
  body{
      background-color: #EABABA;
  }
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .start{
      background-image: url(images/Hotels.jpg);
      background-size: 1500px 800px;
      background-repeat: no-repeat;
      opacity: 0.8;
  }
  h1{
      color: white;
  }
  ul{
    display: flex;
    list-style: none;
    float: right;
    padding: 0%;
    margin: 0%;
    flex-direction: row;
    align-items: flex-end;
}
li a{
    text-decoration: none;
    color: white;
}
li{
    padding: 10px;
    color: white;

}